
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: 
         url('./fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'), 
         url('./fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff'); 
  }
 
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: 
         url('./fonts/open-sans-v27-latin_cyrillic-700.woff2') format('woff2'), 
         url('./fonts/open-sans-v27-latin_cyrillic-700.woff') format('woff'); 
  }

    *{
     box-sizing: border-box;
    }

    *img{
        vertical-align: middle;
    }

    body{
        font-family: "Open sans", sans-serif;
    }

    .container{
        width: 1140px;
        padding-right: 20px;
        padding-left: 20px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .header{
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .header-div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .site-logo-link{
        text-decoration: none;
        margin-right: 329px;
    }

    .site-logo-link:hover{
        opacity: 0.7 ;
    }

    .site-logo-link:active{
        opacity: 0.2 ;
    }

    .site-logo{
        width: 59px;
        height: 20px;
    }

    .navbar-list{
        list-style: none;
        display: flex;
        margin: 0 auto;
        padding: 0;
    }

    .nav-list-item{
        font-family: "Open sans", sans-serif;
    }

    .home-page-link{
        text-decoration: none;
        font-family: "Open sans", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 15px;
        width: 98px;
        height: 56px;
        padding: 16px;
    }

    .nav-list-item-link{
        text-decoration: none;
        font-family: "Open sans", sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: #000;
        border-bottom: 3px solid transparent;
        width: 98px;
        height: 56px;
        padding: 16px;
    }

    .nav-list-item-link:hover{
        border-bottom: 3px solid  #191919;
    }

    .nav-list-item-link:active{
        background-color:  #191919B2;
        background-size: 98px 56px ;
        padding: 16px;
        opacity: 0.7 ;
        color: #fff;
        border-bottom: none;
    }

    .tel-number-link{
        text-decoration: none;
        font-family: "Open sans", sans-serif;
        font-weight: 700;
        width: 166px;
        height: 40px;
        background-color: #00BAFC;
        border: 3px solid #00BAFC;
        border-radius: 5px ;
        color: #fff;
        padding: 8px 16px;
        font-size: 15px;
    }

    .tel-number-link:hover{
        background-color: #fff;
        color: #00BAFC;
    }

    .tel-number-link:active{
        border-radius: none;
        background-color:#00BAFC ;
        opacity: 0.6 ;
        color: #fff;
    }

    .services-dapartament{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .services-dapartament-div{
        width: 480px;
        margin: 0 auto;
        padding: 0;
    }

    .services-departament-title{
        font-family: "Open sans", sans-serif;
        font-weight: 700;
        font-size: 30px;
        margin: 0 auto;
        padding: 0;
    }

    .services-departament-text{
        font-family: "Open sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 0;
    }

    .services-link{
        text-decoration: none;
        font-family: "Open sans", sans-serif;
        font-weight: 700;
        text-align: center;
        width: 232px;
        height: 40px;
        padding: 8px 16px;
        background-color: #00BAFC;
        border-radius: 5px;
        color: #fff;
    }

    .services-link:hover{
        opacity: 0.8 ;
    }

    .services-link:active{
        opacity: 0.6 ;
    }

    .services-iframe{
        border-radius: 5px;
        margin-left: 175px;
        border:none;
    }

    .services-about-div{
        padding-top: 56px;
        padding-bottom: 56px;
    }

    .services-about-title{
        font-family: "Open sans", sans-serif;
        font-weight: 700;
        text-align: center;
        font-size: 24px;
        margin-bottom: 24px;
    }

    .services-about-text-div{
        width: 719px;
        margin-right: auto;
        margin-left: auto;
    }

    .services-about-text{
        font-family: "Open sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        margin: 0 auto;
        padding: 0;
    }

    .services-about-list{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }

    .services-about-item{
        font-family: "Open sans", sans-serif;
        width: 320px;
        height: 260px;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-top: 24px;
        margin-bottom: 48px;
        padding: 24px 58px ;
    }

    .services-about-item:nth-child(2n){
        margin-left: 70px;
        margin-right: 70px;
    }

    .services-about-item:hover{
        box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
    }

    .services-about-item:active{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }

    .services-about-image{
        width: 203px;
        height: 130px;
        margin-bottom: 16px;
    }

    .creat-website-title{
        font-family: "Open sans", sans-serif;
        font-weight: 700;
        text-align: center;
        font-size: 20px;
        margin: 0 auto;
        padding: 0;
    }

    .creat-website-text{
        font-family: "Open sans", sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 16px;
        margin-top: 16px;
    }

    .services-about-link{
        display: flex;
        align-items: center;
        width: 450px;
        margin-right: auto;
        margin-left: auto;
    }

    .services-page-link{
        font-family: "Open sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #00BAFC;
        margin-left: 16px;
    }

    .work-about-div{
        padding-top: 56px;
        padding-bottom: 56px;
    }

    .work-about-title{
        font-family: "Open sans", sans-serif;
        font-weight: 700;
        font-size: 24px;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    .work-about-text-div{
        width: 719px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .work-about-text{
        font-family: "Open sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        margin: 0 auto;
        padding: 0;
    }

    .work-about-list{
        margin: 0 auto;
        display: block;
        padding: 0;
    }
    .work-list-item{
        list-style: none;
        font-family: "Open sans", sans-serif;
        align-items: center;
        width: 832px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        margin-bottom: 54px;
    }

    .work-list-item:nth-child(2n){
        flex-direction: row-reverse;
    }

    .work-about-image{
        width: 300px;
        height: 278px;
        margin-right: 36px;
    }

    .work-text-div{
        width: 493px;
        margin: 0 auto;
        padding: 0;
    }

    .work-text-title{
        font-family: "Open sans", sans-serif;
        font-weight: 700;
        font-size: 20px;
        margin: 0 auto;
        padding: 0;
    }

    .work-text{
        font-family: "Open sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        margin-top: 8px;
    }

    .order-div{
        width: 170px;
        margin-right: auto;
        margin-left: auto;
    }

    .sign-up-section{
        background-color: #00BAFC;
        padding-top: 56px;
        padding-bottom: 64px;
    }

    .sign-up-title{
        font-family: "Open sans", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    .sign-up-div{
        width: 719px;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }

    .sign-up-text{
        font-family: "Open sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .form-div{
        width: 348px;
        height: 304px;
        margin-right: auto;
        margin-left: auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 24px;
    }

    .form{
        margin-bottom: 16px;
        padding: 0;
    }

    .order-input, .oreder-select{
        width: 300px;
        height: 56px;
        border-radius: 5px;
        background-color: #F3F3F3;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 20px;
        color: #000;
        font-family: "Open sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        border: none;
    }

    .oreder-select{
        appearance: none;
        background-image: url(./images/Polygon.svg);
        background-position: right 20px center;
        background-repeat: no-repeat;
    }

    .form-link{
        width: 170px;
        margin-right: auto;
        margin-left: auto;
    }

    .services-button{
        text-decoration: none;
        font-family: "Open sans", sans-serif;
        font-weight: 700;
        text-align: center;
        width: 167px;
        height: 40px;
        padding: 8px 16px;
        background-color: #00BAFC;
        border-radius: 5px;
        color: #fff;
    }

    .services-button:hover{
        opacity: 0.8 ;
    }

    .services-button:active{
        opacity: 0.6 ;
    }

    .footer{
        background-color: #191919;
        padding-top: 56px;
        padding-bottom: 56px;
    }

    .footer-div{
        display: flex;
    }

    .copyright-div{
        width: 320px;
    }

    .copyright-strong{
        font-family: "Open sans", sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #fff;
        margin-bottom: 16px;
    }

    .copyright-text{
        font-family: "Open sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        margin-top: 16px;
        padding: 0;
    }

    .page-list{
        margin: 0 auto;
        padding: 0;
        margin-left: 100px;
    }

    .page-list-item{
        list-style: none;
        font-family: "Open sans", sans-serif;
        font-weight: 400;
        width: 143px;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .page-list-link{
        text-decoration: none;
        color: #fff;
    }

    .page-list-link:hover{
        color: #00BAFC;
    }

    .page-list-link:active{
        opacity: 0.6 ;
    }

    .page-strong{
        color: #fff;
        font-weight: 700;
        font-size: 20px;
    }

    .internet-list{
        margin: 0 auto;
        padding: 0;
        margin-left: 87px;
    }

    .internet-list-item{
        list-style: none;
        font-family: "Open sans", sans-serif;
        font-weight: 400;
        margin: 0 auto;
        padding: 0;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .internet-item-link{
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
        font-family: "Open sans", sans-serif;
        font-weight: 400;
    }

    .internet-strong{
        font-family: "Open sans", sans-serif;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 16px;
    }

    .telegram-image{
        width: 22px;
        height: 24px;   
    }

    .link-text{
        font-family: "Open sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        margin: 0 auto;
        padding: 0;
    }

    .link-text:hover{
        color: #00BAFC;
    }

    .link-text:active{
        opacity: 0.6 ;
    }